<?xml version="1.0"?>
<config>
    <modules>
        <Meanbee_RunRate>
            <version>1.0.1</version>
        </Meanbee_RunRate>
    </modules>
    <global>
        <models>
            <meanbee_runrate>
                <class>Meanbee_RunRate_Model</class>
                <resourceModel>meanbee_runrate_resource</resourceModel>
            </meanbee_runrate>
            <meanbee_runrate_resource>
                <class>Meanbee_RunRate_Model_Resource</class>
                <entities>
                    <runrate>
                        <table>meanbee_runrate</table>
                    </runrate>
                </entities>
            </meanbee_runrate_resource>
        </models>
        <resources>
            <meanbee_runrate_setup>
                <setup>
                    <module>Meanbee_RunRate</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </meanbee_runrate_setup>
        </resources>
        <helpers>
            <meanbee_runrate>
                <class>Meanbee_RunRate_Helper</class>
            </meanbee_runrate>
        </helpers>
        <blocks>
            <meanbee_runrate>
                <class>Meanbee_RunRate_Block</class>
            </meanbee_runrate>
        </blocks>
        <index>
            <indexer>
                <meanbee_runrate>
                    <model>meanbee_runrate/indexer</model>
                </meanbee_runrate>
            </indexer>
        </index>
    </global>
    <default>
        <cataloginventory>
            <meanbee_runrate>
                <lead_time_attribute></lead_time_attribute>
                <average_run_weeks>12</average_run_weeks>
            </meanbee_runrate>
        </cataloginventory>
    </default>
    <adminhtml>
        <layout>
            <updates>
                <meanbee_runrate>
                    <file>meanbee/runrate.xml</file>
                </meanbee_runrate>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <meanbee_runrate before="Mage_Adminhtml">Meanbee_RunRate_Adminhtml</meanbee_runrate>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <phpunit>
        <suite>
            <modules>
                <Meanbee_RunRate />
            </modules>
        </suite>
    </phpunit>
</config>
